<div id='comments-form'>
  <h3>Your comment</h3>
  <form accept-charset='UTF-8' action='' method='post'>
    <p class='name'>
      <label for='name'>Your Name</label>
      <input class='input-text required' id='name' name='name' type='text'>
    </p>
    <p class='email'>
      <label for='email'>Your Email</label>
      <input class='input-text required' id='email' name='email' type='text'>
    </p>
    <p class='message'>
      <label for='message'>Your Message</label>
      <textarea class='required' cols='80' id='message' name='message' rows='5'></textarea>
    </p>
    <div class='spacing'></div>
    <p>
      <input class='button' type='submit' value='Send Message'>
    </p>
  </form>
</div>
