<div class='full white'>
  <div id='contact_us' class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>email: contact@advonanalytics dot com | phone: waiting for the iPhone 8 | snail mail: coming soon</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <form name="contact" action="/index.html" netlify>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='NAME' name='name' type='text'>
        <input placeholder='EMAIL' name='email' type='email'>
        <input placeholder='SUBJECT' name='subject' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='MESSAGE' name='message' type='text'></textarea>
        <button class='white' type='submit'>Send</button>
        <input class='button white' type='submit'>
      </div>
    </div>
  </form>
  </div>
</div>
