<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta name="description" content="{{ page.description }}">
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
<link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
<link href='{{ site.url }}/css/style.css' rel='stylesheet'>
<link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>

<script src='{{ site.url }}/js/modernizr.js'></script>
