<div class='full white'>
  <div id="services" class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Services</h2>
      <p>A few of our favorite things</p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in site.data.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>
